---
layout: default
title: Staff
permalink: /staff/
---

<h1 class="post-title"> Staff </h1>
<h2>Senior members</h2>
<div class="row-container">
    {% assign sorted_persons = site.team | sort: "order" %}
    {% for person in sorted_persons %}
        {% if person.status == "senior" %}
                <div class="card">
                    <a class="post-link" href="{{ person.url | relative_url }}">
                        <img src="{{ site.baseurl }}/images/team/{{ person.image }}" width=100%>
                        <div class="person-info-container">
                            
                            <span><b>{{ person.name }} <br> {{ person.surname }}</b></span>
							<br>
                            <span>{{ person.post }}</span>
                        
                        </div>
                    </a>
                </div>
        {% endif %}
    {% endfor %}
</div>


<h2>Postgraduate students</h2>
<div class="row-container">
    {% for person in site.team %}
        {% if person.status == "postgraduate" %}
                <div class="card">
                    <a class="post-link" href="{{ person.url | relative_url }}">
                        <img src="{{ site.baseurl }}/images/team/{{ person.image }}" width=100%>
                        <div class="person-info-container">

                            <span><b>{{ person.name }} <br> {{ person.surname }}</b></span>
							<br>
                            <span>{{ person.post }}</span>
							
                        </div>
                    </a>
                </div>
        {% endif %}
    {% endfor %}
</div>


<h2>Students</h2>
<div class="row-container">
    {% for person in site.team %}
        {% if person.status == "student" %}
                <div class="card">
                    <a class="post-link" href="{{ person.url | relative_url }}">
                        <img src="{{ site.baseurl }}/images/team/{{ person.image }}" width=100%>
                        <div class="person-info-container">

                            <span><b>{{ person.name }} <br> {{ person.surname }}</b></span>
							<br>
                            <span>{{ person.post }}</span>
							
                        </div>
                    </a>
                </div>
        {% endif %}
    {% endfor %}
</div>
