---
layout: default
title: TestPart
lang: en
ref: TestPartRef
---
<h1 class="post-title"> TestPart </h1>



<div class="home">
  <h1>About us</h1>

  Cat says: meow.
  
 <div class="lang">
  <ul>
    {% for post in posts %}
      <li><a class="{{ post.lang }}" href="{{ site.base-url }}{{ post.url }}">{{ post.lang }}</a></li>
    {% endfor %}
  </ul>
</div>
<!-- 
  <div class="post-content">
    {% capture my_include %}{% include about.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>
-->


</div>